<div class="content">
  <!-- Highlight Card -->
  <h1 class="app-title">
    <span style="margin-left: 15px">{{ title }}</span>
  </h1>

  <div class="main-grid">
    <div>
      <mat-card  class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>What is Vocal warmup generator?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Vocal warmup generator is a free tool to help you achieve a dream shared by many: sing, and sing well.</p>
          <!--
          <p>Vocal warmup generator allows you to create personal warmups, focusing on <b>your</b> needs.
            It allows you to define a warmup set, with whatever warmups help you practice singing,
            with the range that helps you to grow.</p>
            -->
          <ul>
            <li>Create your warmups</li>
            <li>Exercise daily</li>
            <li>Be the singer you want to be</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card  class="mat-elevation-z8">
        <mat-card-content>
          <form>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="Ex. yourname@provider.com" (change)="email=$event.target.value" [value]="email">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password" (change)="password=$event.target.value" [value]="password">
            </mat-form-field>
          </form>

          <div style="margin-bottom: 15px;">
            <button mat-raised-button color="primary" (click)="handleLogin()">Login</button>
            <a style="margin-left: 15px">Forgot your password?</a>
          </div>

          <mat-divider></mat-divider>

          <div style="margin-top: 30px;">
            <button mat-raised-button color="accent">Create account</button>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<style>
.app-title {
  font-size: 36px;
  font-weight: bold;
  padding: 0px 20px 20px 20px;
  text-align: center;
}

.main-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
}

.content {
  display: flex;
  margin: 0px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

</style>