<div class="content">
  <h1 class="warmup-editor-title">Warmup set editor</h1>
  <div *ngIf="(!loading && !err); else alternateFeedback">
    <div class="warmup-editor-main-grid">
      <div class="mat-elevation-z8" style="padding: 20px">
        <h2 class="warmup-editor-subtitle">Defined exercises</h2>
        <div class="left-panel">
          <app-exercise-list mode="edit" [exercises]="warmup.exercises" (requestEdit)="changeSelectedExercise()"></app-exercise-list>
        </div>
      </div>

      <!--<div class="panel">-->
      <div class="mat-elevation-z8" style="padding: 20px">
        <h2 class="warmup-editor-subtitle">New exercise</h2>
        <mat-form-field appearance="outline">
          <mat-label>Exercise</mat-label>
          <mat-select [(value)]="currentExercise.exercise">
            <mat-option *ngFor="let predefinedExercise of predefinedExercises" [value]="predefinedExercise">
              {{predefinedExercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="line-input">
          <mat-label>Custom name</mat-label>
          <input matInput placeholder="" [value]="currentExercise.customName" (change)="currentExercise.customName = $event.target.value">
        </mat-form-field>

        <div>
          <label>Starting note: {{ convertToNote(currentExercise.range.begin) }} </label>
          <div>
            <b>{{convertToNote(10)}}</b>
            <mat-slider
              min="10"
              [max]="getBeginMax()"
              step="1"
              thumbLabel="true"
              [displayWith]="convertToNote"
              [value]="currentExercise.range.begin"
              (change)="currentExercise.range.begin = $event.value"></mat-slider>
            <b>{{convertToNote(getBeginMax())}}</b>
          </div>
        </div>

        <div>
          <label>Ending note: {{ convertToNote(currentExercise.range.end) }} </label>
          <div>
            <b>{{convertToNote(getEndMin())}}</b>
            <mat-slider
              [min]="getEndMin()"
              max="40"
              step="1"
              thumbLabel="true"
              [displayWith]="convertToNote"
              [value]="currentExercise.range.end"
              (change)="currentExercise.range.end = $event.value"></mat-slider>
            <b>{{convertToNote(40)}}</b>
          </div>
        </div>

        <div class="small-note form-group">* Note: Starting and End note defines each other maximum and minimum value in the slider</div>

        <div>
          <button mat-raised-button color="primary" (click)="addExercise()">Add exercise</button>
        </div>
      </div>
    </div>
    <div *ngIf="warmup" style="padding-top: 20px">
      <button style="float: right" mat-raised-button color="accent" (click)="save()">Save warmup</button>
    </div>
  </div>

  <ng-template #alternateFeedback>
    <div class="mat-elevation-z8" style="padding: 20px">
      <h1 *ngIf="err">{{err}}</h1>
      <div *ngIf="loading" align="center">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </ng-template>
</div>