::ng-deep .mat-accent .mat-slider-thumb {
  background-color: black;
} 

::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: black;
} 

::ng-deep .mat-accent .mat-slider-thumb-label span {
  color: white;
  font-size: 10px;
} 

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: black;
} 

.small-slider {
  min-width: 64px;
}