<div class="content">
  <h1 class="warmup-sets-title">My warmup sets</h1>

  <table mat-table [dataSource]="warmupList" style="width: 100%" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element" style="width: 286px">
        <div class="action-buttons-grid">
          <button mat-stroked-button (click)="selectElement(element)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-stroked-button [routerLink]="['../warmup-editor/', element.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-stroked-button>
            <mat-icon>delete</mat-icon>
          </button>
          <button type="button" mat-stroked-button (click)="downloadWav(element)">
            <mat-icon>download</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <app-exercise-list *ngIf="element.exercises" [exercises]="element.exercises"></app-exercise-list>
          <app-media-player *ngIf="audio" [audio]="audio" style="width: 100%"></app-media-player>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="element-row"
      [class.expanded-row]="expandedElement === element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
</div>